/* Navigation Bar */
nav {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 27px 0px rgba(45, 45, 45, 0.15);
}

.nav-item {
  font-size: 12px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 10px;
}

.nav-item:hover {
  color: #ffffff;
}

/*  Home */
.home h1, h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.home h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.5em;
}

.home h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7em;
  color: rgba(255, 255, 255, 0.8);
}

/* Footer */
footer {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 20px;
  /* background-color: #343b4f; */
}

/*  Common */
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(111, 121, 136);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.punc, .current {
  color: lime;
}

abbr {
  color: red;
}
