/* Navigation Bar */
nav {
  text-align: center;
  grid-row-start: 1;
  box-shadow: 0px 4px 27px 0px rgba(45, 45, 45, 0.5);
  display: grid;
}

nav div {
  justify-self: center;
  align-self: center;
}

nav a {
  font-size: 12px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 10px;
}

nav a:hover {
  color: #ffffff;
}

/*  Home */
.home h1, .home h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.home h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.5em;
}

.home h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7em;
  color: rgba(255, 255, 255, 0.8);
}

/*  Background */
.bg {
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(rgba(52, 59, 79, 0.9), rgba(52, 59, 79, 0.9)),
                    url("../images/background-bg.jpg");
}

.bg-items {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 50% 50%;
}

.bg-items div {
  height: 200px;
}

.bg-items h1 {
  color: lime;
  font-size: 1em;
  font-weight: 100;
}

.bg-items h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 2px;
}

.bg-items h3 {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.bg-items p {
  letter-spacing: 0.05em;
  line-height: 1.4em;
  font-weight: 100;
  opacity: 0.6;
}

.bg-items #work {
  text-align: right;
  border-right: 1px dashed lime;
  padding-right: 80px;
  width: 300px;
}

.bg-items #education {
  text-align: left;
  margin-left: 80px;
  width: 300px;
}

/*  Contact */
.contact {
  grid-row-start: 2;

  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;

  background-image: url(../images/contact-bg.jpeg);
  background-size: cover;
}

.contact-items {
  grid-column-start: 2;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;

  background-color: rgb(78, 84, 102);
  padding: 50px 50px 0px 50px;
}

.contact-items p {
  align-self: center;
  justify-self: center;
  line-height: 1.7em;
  letter-spacing: 2px;
}

.contact-items fieldset {
  border: 0;
}

.contact-items #name, #email {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.contact-items #msg {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  resize: none;
}

.contact-items button {
  width: 100%;
  height: 30px;
  background-color: lime;
}

.contact-items figure {
  grid-column: 1 / span 3;
  justify-self: center;
}

.contact-items img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.contact-items a {
  text-decoration: none;
}

/*  Common */
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(52, 59, 79);
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
}

.lime, .lime:hover {
  color: lime;
}
