.navbar-open {
  opacity: 1;
  visibility: visible;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.navbar-close {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.navbar {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 8vh;
  transition: all 1s ease-in-out;
}

.navbar a {
  text-decoration: none;
  color: rgb(28, 30, 35);
  font-family: "Open Sans", serif;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

.navbar a:hover {
  border: 1px solid rgb(28, 30, 35);
  padding: 1em;
}

.navbar i {
  color: rgb(28, 30, 35);
  font-size: 1.5em;
  transition: 0.5s;
}

.navbar i:hover {
  cursor: pointer;
  border: 1px solid #000;
  padding: 0.75em;
}
