/* Navigation Bar */
nav {
  text-align: center;
  grid-row-start: 1;
  box-shadow: 0px 4px 27px 0px rgba(45, 45, 45, 0.5);
  display: grid;
}

nav div {
  justify-self: center;
  align-self: center;
}

.unselected {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 10px;
}

.unselected:hover {
  color: #ffffff;
}

.selected {
  color: lime;
}
